<!DOCTYPE html>
<html lang=en>
  <head>
		<title>Reset Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
          font-family: 'Roboto', sans-serif;
          color: #1D3557;
          background:#edf2f4;
          background-size: cover;
          height:100%; height:100vh;
          display: -webkit-flex; /* Safari */
          -webkit-align-items: center; /* Safari 7.0+ */
          display: flex;
          align-items: center;
        }

        .create-new-password-bg {
          display:block;
          margin-left:auto;
          margin-right:auto;
          padding: 36px 48px;
          border-radius:4px;
          background:#fff;
          box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
        }

        .create-new-password-bg h1 {
          font-size:28px;
          text-align:left;
          margin-bottom:30px;
        }

        .create-new-password-bg form input {
        display:block;
        margin:0 auto 15px;
        width:100%;
        min-width: 248px;
        border:1px solid #ccc;
        border-radius:3px;
        padding:6px 8px;
        font-family:Roboto;
        color:#333;
        }

        .create-new-password-bg form input:last-child {
        display:block;
        margin:20px auto 15px;
        border:1px solid #ccc;
        width: 100%;
        border-radius:3px;
        padding:6px 15px;
        font-family:Roboto;
        background-color: #003049;
        color:#fff;
        font-size:16px;

        }
        .error,
        .message {
          padding: 0 8px;
          max-width: 240px;
        }
        .error {
          color: #D62828;
        }

        input:focus {
          color: #D62828;
          outline: 1px solid #fcbf49;  
        }
        
    </style>
	</head>
  <body>
    <div class="create-new-password-bg">
      <h1>Connect scanner</h1>
      <form name="changepass-form" id="changepass-form" method="POST" action="http://localhost:3000/api/v1/scanners/<%= id %>/">
        <label for="residences-select">
          Residences
        </label>
        <select name="residences" id="residences-select">
            <option value="">--Please choose a residence--</option>
            <% residences.map(item=> { %>
                <option id="<%= item._id%>"> <%= item.name %> </option>
            <% }) %>
        </select>
        <label for="scanner-type">Scanner Type
            Type
          </label>
          <select name="type" id="scanner-type">
            <option value="booking">Booking</option>
          </select>

        <input type="submit" name="submit" id="submit" value="Submit" />
      </form>
          <% if (message) { %>
            <div id="success-msg" class="message">
          <% } else { %>
            <div id="success-msg" class="message" style='display: none;'>
          <% } %>
              <%= message %>      
          </div>
          <% if (error) { %>
            <div id="error-msg" class="error">
          <% } else { %>
            <div id="error-msg" class="error" style='display: none;'>
          <% } %>
          <%= error %> <span id='error-reason'></span>
      </div>
    </div>
  </body>
</html>